<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>La Gilda</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" charset="utf-8" />	
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <!-- [if -lt IE 9]>
  	<script src= "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!-- [if -lt IE 9]>
  	<%= stylesheet_link_tag 'blueprint/ie' %>
  <![endif]-->
  <%= stylesheet_link_tag 'prova', :media => 'screen' %>

</head>

<body>
	<span id="background"></span>
	<div id="page">
		<div id="sidebar">
			<div id="logo">
				<a href="homepage.html">The selected works of <em>Christianne Manjow</em></a>
			</div> <!-- /#logo -->
			<ul id="navigation">
				<li><a href="about.html">About</a></li>
				<li class="selected"><a href="index.html">Illustrations</a></li>
				<li><a href="images.html">Selected Images</a></li>
				<li><a href="contact-us.html">Contact Us</a></li>
				<li><a href="blog.html">Blog</a></li>
			</ul> <!-- /#navigation -->
			<ul id="connect">
				<li><a href="http://facebook.com/freewebsitetemplates" target="_blank" class="facebook"></a></li>
				<li><a href="http://twitter.com/fwtemplates" target="_blank" class="twitter"></a></li>
				<li><a href="" class="link-us"></a></li>
			</ul> <!-- /#connect -->
			<div class="footer">
				&copy; Copyright &copy; 2011.<br/>
				<a href="index.html">Axel Vee</a> all rights reserved.
			</div> <!-- /.footer -->
		</div> <!-- /#sidebar -->
<div class="container"> 
<%=  yield %>	

		<header>
			<nav class="round">
				<ul>
					<li> <%= link_to "Home", "#" %> </li>
					<li> <%= link_to "Contact", "#" %> </li>
					<li> <%= link_to "Sign in", "#" %> </li>
				</ul>
			</nav>
		</header>
	

	</div> <!-- /#page -->

</body>
</html>



