<!DOCTYPE html>
<html>
<head>
  <title><%= title%> </title>
  <%= stylesheet_link_tag 'style', :media => 'style' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <!-- [if -lt IE 9]>
  	<script src= "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
	<div class="container">
		<header>
			<nav class="round">
				<ul>
					<li> <%= link_to "Home", "#" %> </li>
					<li> <%= link_to "Contact", "#" %> </li>
					<li> <%= link_to "Sign in", "#" %> </li>
				</ul>
			</nav>
		</header>
		<section class "round">
<%= yield %>
		</section>
	</div>
</body>
</html>
